#wrapper {
    padding-left: 50px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -200px;
    left: 50px;
    width: 200px;
    background: rgb(245, 245, 245);
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#wrapper.active {
}

#wrapper.active #sidebar-wrapper {
    left: 200px;
    border-right: 2px solid rgba(0, 0, 0, 0.04);
    /*border-right: 2px solid rgb(248, 248, 248);*/
}

#content-wrapper {
    /*padding-top: 50px;*/
}

body {
    background-size: 100%;
    background-color: #F8FDFF;
}

#wrapper.active #content-wrapper {
    margin-left: 150px;
}

.add-margin-padding {
    margin-left: 0;
    margin-right: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.sidebar-nav {
    display: block;
    float: right;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-brand a img {
    height: 40px;
    width: 120px;
}

#sidebar-menu li a, .sidebar-nav li a {
    color: rgb(23, 23, 25);
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    background: rgb(240, 240, 240);
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(221, 221, 221);
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
    cursor: pointer;
}

#sidebar-menu li a {
    margin-top: 0 !important;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
    display: inline-block;
}

.sidebar-nav li a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.sidebar-nav li a.active {
    background: rgb(210, 210, 210);
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgb(230, 230, 230);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 90px;
    font-size: 22px;
}

#main-icon {
    float: right;
    padding-right: 15px;
    padding-top: 30px;
}

.side-icon {
    float: right;
    padding-right: 18px;
    padding-top: 12px;
}

#wrapper #sidebar-wrapper ul li div {
    display: none;
}

#wrapper.active #sidebar-wrapper ul li div {
    display: block;
}

.sidebar-nav li a {
    margin-bottom: 5px;
}

.sub-pairs {
    display: block;
}

.sub-pairs div {
    padding-right: 5px;
    overflow: hidden;
    display: block;
}

.sub-pairs div h5 {
    /*display: inline;*/
}

.sub-pairs div > :first-child {
    float: left;
}

.sub-pairs div > :nth-child(2) {
    /*float: right;*/
    float: right;
    /*background: red;*/
}

.page-content-wrapper .row {
    margin-left: 0;
    margin-right: 0;
    padding-right: 5px;
    padding-left: 5px;
}



















