$body-background-color:#F8FDFF;
$sidebar-background:rgb(245, 245, 245);

$sidebar-tabs-back-active:rgb(210, 210, 210);
$sidebar-tabs-back-hover:rgb(230, 230, 230);
$sidebar-tabs-text-color:rgb(23, 23, 25);
$sidebar-tabs-back:rgb(240, 240, 240);
$sidebar-tabs-border-top-color:rgb(231, 231, 231);
$sidebar-tabs-border-bottom-color:rgb(221, 221, 221);