@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../component/searchdropdown"
@import "../component/addedSection"
@import "../component/addcourse"

//.generate-form
//  //height: 200px
//  max-height: 300px
//  overflow-y: scroll
//
//  &> div
//    height: 100%
//
//  &>div:nth-of-type(2) > div,
//  &>div:first-of-type
//      height: 100%
//  @media screen and (max-width: $screen-sm)
//    &>div:nth-of-type(2) > div,
//    &>div:first-of-type
//      border: 1px solid rgb(221, 221, 221)
//
//.generate-form-lg-control-btn
//  padding-top: 10px

.generate-form
  > div:first-of-type
    max-height: 300px
    overflow-y: scroll

.borderless
  th,
  td,
  tbody tr td
    border: none

  tr td:nth-of-type(2)
    float: left


