@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables"

.panel-group
  .list-group
    margin-bottom: 0
    .list-group-item
      -webkit-border-radius:
      -moz-border-radius:
      border-radius: 0
      border-left: none
      border-right: none

      &:last-child
        border-bottom: none

.course-btns-parent
  padding-left: 15px
  padding-right: 10px

.w70
  width: 70px!important

.toolbar-group
  width: 200px!important
  .form-group
    display: inline
  .toolbar-select
    width: 70%
    height: $input-height-base