@import "../common/bootstrap";

body,html{
    width: 100%;
    height: 100%;
}
.navbar-brand > img {
    height: 40px;
}

.navbar-brand {
    color: white!important;
}

.navbar-nav li a {
    line-height: 40px;
    color: white!important;
}

.navbar-nav li a:hover {
    color: gray!important;
}

.btn {
    height: 40px;
}

.navbar {
    background: transparent;
    border-color: transparent;
}

#background {
    text-align: center;
    color: white;
    height:100%;
    background: url(/images/apple-256263_1920.jpg) no-repeat center center;
    background-size: cover;
}

.intro-header {
    padding-top: 50px;
}

.panel {
    background: #3d3531!important;
}

.section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

footer{
    padding: 20px;
}