.schedule-render-outer
  width: 100%

.schedule-render-outer
  .fc-today
    background: none !important
  //border-color: rgb(168, 168, 168)

  & > .fc-header-toolbar
    margin-bottom: 0
    height: 0

.schedule-render-edit-group
  padding: 0
  > div
    padding-left: 0
    padding-right: 0
    margin-bottom: 5px
  .alert
    margin-bottom: 0
    padding-top: 8px
    padding-bottom: 5px

//fc-toolbar fc-header-toolbar

//.toggle-col {
//  margin:0;
//  padding:0;
//}
//
//.toggle-heading {
//  padding-top: 5px;
//  padding-bottom: 5px;
//}
//
//#calendar .fc-header-toolbar {
//  display: none;
//}
//
//.fc-today {
//  background: none !important;
////border: none !important;
////border-top: 1px solid #ddd !important;
////font-weight: bold;
//}
//
//input.schedule-title {
//  margin-top: 3px;
