@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables"

.schedule-toolbar-outer
  border: 1px solid rgb(200, 200, 200) !important
  border-radius: 5px
  margin-top: 2px
  background: whitesmoke
  padding: 0
  width: 100%

.schedule-toolbar-trash-outer
  ul
    list-style-type: none
    margin: 0
    padding: 0
    li
      display: inline
      float: left
      a
        display: block
        background: $btn-danger-bg
        color: white
        min-width: 40px
        text-align: center
        text-decoration: none
        padding: 10px 12px

.schedule-toolbar-right
  display: inline
  margin-top: 3px
  > div
    margin-right: 5px

.schedule-toolbar-edit
  > div
    margin: 3px

.schedule-toolbar-input
  //display: block
  //height: $input-height-base
  border: 1px solid $input-border
  border-radius: $input-border-radius
  float: right

@media screen and (max-width: $screen-xs)
  .schedule-toolbar-form
    padding-left: 0
    padding-right: 0

.gold
  color: gold