.schedule-render-outer
  width: 100%

.schedule-render-outer
  .fc-today
    background: none !important
    //border-color: rgb(168, 168, 168)

  & > .fc-header-toolbar
    margin-bottom: 0
    height: 0

//fc-toolbar fc-header-toolbar

//.toggle-col {
//  margin:0;
//  padding:0;
//}
//
//.toggle-heading {
//  padding-top: 5px;
//  padding-bottom: 5px;
//}
//
//#calendar .fc-header-toolbar {
//  display: none;
//}
//
//.fc-today {
//  background: none !important;
////border: none !important;
////border-top: 1px solid #ddd !important;
////font-weight: bold;
//}
//
//input.schedule-title {
//  margin-top: 3px;
